
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caja{
    width: 600px;
    height: 600px;
    background-color: rgb(30,30,30);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.caja-grid{
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    width: 500px;
    height: 510px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 80px 80px 80px 80px;
    grid-gap: 5px;
}

#display{
    display: flex;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    background-color: red;
    grid-column: 1/4;
    border-radius: 10px;
}

.boton-operacion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: blue;
}

.boton-num{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    background-color: orange;
}

.borrar{
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.igual{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: orangered;
    grid-column: 2/4;
    border-radius: 10px;
    color: white;
}